/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

button {
  outline: none;
}

::placeholder {
  color: #98a4c0;
}

.app {
  background: #0e1120;
  padding: 18px 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 470px;
}

.app__footer {
  display: flex;
  margin-top: 5px;
}

/* ------- */
/* Buttons */
/* ------- */

.remove-country {
  position: absolute;
  bottom: 14px;
  left: -12px;
  width: 24px;
  height: 24px;
  background: #ff4384;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.country:hover .remove-country {
  opacity: 1;
}

.remove-country svg {
  fill: #121629;
  width: 10px;
  height: 10px;
  transition: transform 0.4s;
}

.remove-country:hover svg {
  transform: rotate(90deg);
}

.options {
  display: flex;
  margin: 2px 0 2px auto;
}

.button-refresh {
  border: 0;
  background: none;
  padding: 0 10px;
  cursor: pointer;
}

.button-refresh svg {
  width: 20px;
  height: 20px;
  fill: #808aa2;
  transition: fill 0.2s, transform 0s;
}

.refreshing .button-refresh svg {
  transition: fill 0.2s, transform 0.8s;
  transform: rotate(360deg);
}

.button-refresh:hover svg {
  fill: #a2afcd;
}

.button-add-country {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 36px;
  height: 27px;
  background: #717b91;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: background 0.2s;
}

.button-add-country--active {
  background: #ff4384;
}

.button-add-country:hover {
  background: #a2afcd;
}

.button-add-country--active:hover {
  background: #ff0058;
}

.button-add-country svg {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  fill: #121629;
  transition: transform 0.2s;
}

.button-add-country--active svg {
  transform: rotate(0deg);
}

/* ------ */
/* Header */
/* ------ */

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
  margin-right: 10px;
}

.header__item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.025em;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.header__item svg {
  fill: #545a6a;
  width: 10px;
  margin-left: 5px;
}

.header__item--up svg {
  transform: rotate(180deg);
}

.header__item--down {
  
}

.header__item--active svg {
  fill: #f2d658;
}

.header__item--confirmed { color: #f4943e; }
.header__item--deaths { color: #fa502f; }
.header__item--recovered { color: #36d3da; }

/* Match the headers  */
.column-confirmed { width: 104px; }
.column-deaths { width: 100px; }
.column-recovered { width: 104px; }

/* ------------ */
/* Country list */
/* ------------ */

.countries {
  transition: opacity 0.5s;
}

.refreshing .countries {
  opacity: 0.5;
}

.country {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #252a3d;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
  transition: background 0.2s;
  position: relative;
}

.country:hover {
  background: #30364f;
}

.country__name {
  color: #ffddb7;
  font-size: 15px;
  letter-spacing: 0.025em;
  padding: 10px 20px;
  margin-top: 2px;
  margin-right: auto;
}

.statistic {
  border-right: 1px solid #000000;
  text-align: right;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statistic:last-child {
  border-right: 0;
}

.statistic__count {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.025em;
  position: relative;
}

.statistic__count span {
  color: #b3c1ff;
  font-size: 12px;
  letter-spacing: 0.025em;
  margin-left: 2px;
}

.statistic__change {
  color: #808aa2;
  font-size: 11px;
  letter-spacing: 0.025em;
  min-height: 13px;
}


.column-recovered .statistic__count::after {
  content: '';
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  height: 1px;
  background: #494e5c;
}

/* ---------------- */
/* Add country form */
/* ---------------- */

.country-form {}

.country-form__input {
  background: #252a3d;
  border: 1px solid #535969;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.025em;
  padding: 8px 9px;
  outline: none;
}

.country-form__button {
  background: #47c293;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #121629;
  border: 0;
  padding: 9px 16px;
  margin-left: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.country-form__button:hover {
  background: #53ffc7;
}