/* ---------------- */
/* Add country form */
/* ---------------- */

.country-form { position: relative; }
.country-form--diabled { pointer-events: none; }

.country-form__input {
  background: linear-gradient(#252a3d, #1d2131);
  border: 1px solid #535969;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.025em;
  padding: 8px 9px;
  outline: none;
  position: relative;
  z-index: 10;
}

.country-form__button {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #121629;
  border: 0;
  padding: 9px 16px;
  margin-left: 4px;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.country-form__button::before,
.country-form__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.country-form__button::before {
  background: linear-gradient(#20d38f, #14aa71);
}

.country-form__button::after {
  background: linear-gradient(#25f5a6, #17ae75);
  opacity: 0;
  transition: opacity 0.2s;
}

.country-form__button:hover:after { opacity: 1; }

/* ------------------- */
/* Country form errors */
/* ------------------- */

.country-form__error {
  background: #f1aa9b;
  border-radius: 5px;
  font-size: 13px;
  color: #101425;
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
  position: relative;
  position: absolute;
  bottom: calc(100% + 14px);
  left: 0;
  z-index: 10;
  display: none;
  transition: opacity 0.4s, transform 0.4s;
}

.country-form__error::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid #f1aa9b;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/* --------------------- */
/* Input error animation */
/* --------------------- */

.country-form__error--enter {
  opacity: 0;
  transform: translateY(20px);
  display: block;
}

.country-form__error--enter-active {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.country-form__error--enter-done {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.country-form__error--exit {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.country-form__error--exit-active {
  opacity: 0;
  transform: translateY(20px);
  display: block;
  transition: opacity 0.2s, transform 0.2s;
}