/* ------ */
/* Header */
/* ------ */

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
  margin-right: 10px;
  padding: 0 20px;
}

.header__item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.025em;
  padding-left: 20px;
  padding-right: 14px;
  display: flex;
  justify-content: flex-end;
}

.header__item--confirmed { color: #f4943e; }
.header__item--deaths { color: #fa502f; }
.header__item--recovered { color: #36d3da; }