.country {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-top: 10px;
  transition: background 0.2s;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 25px;
}

.country::before,
.country::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 25px;
}

.country:first-child { margin-top: 0; }

.country::before {
  background: linear-gradient(#323952, #2b3148);
}

.country::after {
  background: linear-gradient(#424b6d, #38405c);
  opacity: 0;
  transition: opacity 0.1s;
}

.country:hover:after,
.my-countries .country--global:hover:after { opacity: 1; }

.all-countries .country--active::before { background: linear-gradient(#1d3827, #193122); }
.all-countries .country--active::after { opacity: 0; transition: opacity 0.5s; }


/* ------------- */
/* Column styles */
/* ------------- */

.column {
  border-right: 1px solid #000000;
  text-align: right;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}

.column:last-child {
  border-right: 0;
}

.column__info-top {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.025em;
  position: relative;
}

.column__info-top--small { font-size: 12px; }

.column__info-top span {
  color: #b3c1ff;
  font-size: 12px;
  letter-spacing: 0.025em;
  margin-left: 2px;
}

.column__info-bottom {
  color: #808aa2;
  font-size: 11px;
  letter-spacing: 0.025em;
  min-height: 13px;
}


.column-tested .column__info-top::after,
.column-recovered .column__info-top::after {
  content: '';
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.2);
}

/* -------------- */
/* Country column */
/* -------------- */

.column-country {
  flex-shrink: 1;
  margin-right: auto;
  border-right: 0;
  text-align: left;
  align-items: flex-start;
  padding-right: 0;
}

.column-country .column__info-top {
  color: #ffddb7;
  max-width: 180px;
  padding: 0;
  font-size: 15px;
}

/* --------------------- */
/* Country row animation */
/* --------------------- */

.country--enter,
.country--appear {
  opacity: 0;
  transition: opacity 0.5s, background 1s;
  background: #717b91;
}

.country--enter-active,
.country--appear-active {
  opacity: 1;
  background: #252a3d;
}

.country--enter-done {
  opacity: 1;
}

/* ------- */
/* Buttons */
/* ------- */

.remove-country,
.add-country {
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.remove-country,
.add-country {
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
  opacity: 0;
  transition: opacity 0.2s;
}

.remove-country {
  background: linear-gradient(#ff4384, #be2c5f);
}

.add-country {
  background: linear-gradient(#43cea1, #2a8d6d);
}

.country:hover .remove-country,
.country:hover .add-country { opacity: 1; }
.all-countries .remove-country { display: none; }

.remove-country svg,
.add-country svg {
  fill: #121629;
  width: 10px;
  height: 10px;
  transition: transform 0.4s;
}

.add-country svg { transform: rotate(45deg); }

.remove-country:hover svg { transform: rotate(90deg); }
.add-country:hover svg { transform: rotate(135deg); }

.add-country--exit {
  transform: scale(1);
  opacity: 1;
}

.add-country--exit-active {
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}