.app {
  background: #0e1120;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 580px;
}

.app--disabled .header__item,
.app--disabled .country-toggle-wrapper,
.app--disabled .count-toggle-wrapper {
  pointer-events: none;
}

.app__header {
  background: #1a4ed0;
  background: linear-gradient(#1a4ed0, #0c3aae);
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px solid #131f62;
}

.app__body {
  padding: 0 20px 0;
  max-height: 330px;
  overflow-y: auto;
}

.app__footer {
  display: flex;
  margin-top: 5px;
  padding: 10px 30px 15px 20px;
  min-height: 48px;
  position: relative;
  z-index: 100;
}

/* ---- */
/* Logo */
/* ---- */

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding: 18px 20px;
}

.logo__svg {
  height: 35px;
  fill: #092f88;
}

/* ------------ */
/* App messages */
/* ------------ */

.app-message {
  height: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-message--errors {
  font-size: 13px;
  color: #f89079;
  letter-spacing: 0.025em;
  line-height: 1.4;
  text-align: center;
}

.app-message__loader {
  width: 60px;
}

/* ------------ */
/* Column Sizes */
/* ------------ */

.column-confirmed { width: 104px; }
.column-deaths { width: 100px; }
.column-tested { width: 100px; }
.column-recovered { width: 104px; }

/* ------------ */
/* Country list */
/* ------------ */

.countries { transition: opacity 0.5s; }

.app--refreshing .countries {
  opacity: 0.5;
  pointer-events: none;
}

/* ----------- */
/* Footer info */
/* ----------- */

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: #22294b;
  padding: 18px 20px;
}

.info__reset {
  margin-right: auto;
  color: #a8b4d3;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.info__reset__icon {
  fill: #5c71a8;
  width: 20px;
  margin-right: 8px;
}

.info__button {
  text-decoration: none;
  color: #dde7ff;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.info__button::before,
.info__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
}

.info__button::before {
  background: #4a5caa;
  background: linear-gradient(#4a5caa, #3a477d);
  box-shadow: inset 1px 1px rgba(255,255,255, 0.1);
}
.info__button::after {
  background: #5f74cf;
  background: linear-gradient(#5f74cf, #435293);
  box-shadow: inset 1px 1px rgba(255,255,255, 0.1);
  opacity: 0;
  transition: opacity 0.2s;
}

.info__button:hover:after {
  opacity: 1;
}

/* ----------- */
/* Info Button */
/* ----------- */

.info-button {
  display: flex;
  cursor: pointer;
  margin-left: 16px;
  margin-top: -1px;
}

.info-button--loading {
  margin-left: auto;
}

.info-button__open {
  width: 23px;
  fill: #808aa2;
  transition: fill 0.2s;
  margin-top: -1px;
}

.info-button:hover .info-button__open {
  fill: #a2afcd;
}